 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
.description{

  border:solid;
  border-width:1px;
}

.item{

    border:solid;
    border-width:1px;
    background-color:orange;
}

.special{
  margin-top:50px;
}

.specialItem{
  border:solid;
  border-width:1px;
  background-color:yellow;
}

.menuItem{
  border:solid;
  border-width:1px;
  background-color:yellow;
}

.price{
  border:solid;
  border-width:1px;
  background-color:green;
}

.appetizers{
  margin-top:50px;

}

.entrees{
  margin-top:50px;

}

.sides{
  margin-top:50px;

}
